{% if post.entry-style == "dark" %}
<article class="entry entry--dark">
{% else %}
<article class="entry">
{% endif %}
    {% if post %}
        {% assign categories = post.categories %}
        {% assign tags = post.tags %}
        {% assign title = post.title %}
        {% assign title-check = post.show-title %}
        {% assign main-content = post.content %}
        {% assign publish-date = post.date %}
    {% else %}
        {% assign categories = page.categories %}
        {% assign tags = page.tags %}
        {% assign title = page.title %}
        {% assign title-check = page.show-title %}
        {% assign main-content = page.content %}
        {% assign publish-date = page.date %}    
    {% endif %}
    {% if title-check != false %}
        <header>
        <h1 class="entry__title"><a href="{{ post.url }}" class="entry__title--link">{{ title }}</a></h1>
        </header>
    {% endif %}
    <section class="entry__content">
    
        {{ main-content }}
    
    </section>
    <footer class="entry__footer">
        <ul class="entry__meta">
        <li class="entry__meta-item"><span class="entry__meta-label">Posted:</span> {{ publish-date | date: "%B %d, %Y" }}</li>
        <li class="entry__meta-item">
            <span class="entry__meta-label">Category:</span>
            {% for category in categories %}
            <a href="{{site.baseurl}}/category/{{category}}.html">{{ category | capitalize }}</a>
            {% unless forloop.last %}, {% endunless %}
            {% endfor %}
        </li>
        <li class="entry__meta-item">
            <span class="entry__meta-label">Tags:</span>
            {% for tag in tags %}
            <a href="{{site.baseurl}}/tag/{{ tag | url_encode }}.html">{{ tag }}</a>
            {% unless forloop.last %}, {% endunless %}
            {% endfor %}
        </li>
        </ul>
        
        </footer>
</article>