<div class="image-group">
    <div class="entry__image-container entry__image-container--tiny">{% include image.html name=include.left-name caption=include.left-caption alt=include.left-alt image-layout="25x4" %}</div>
    <div class="entry__image-container entry__image-container--tiny">{% include image.html name=include.right-name caption=include.right-caption alt=include.right-alt image-layout="25x4" %}</div>
    <div class="entry__image-container entry__image-container--tiny">{% include image.html name=include.right-name caption=include.right-caption alt=include.right-alt image-layout="25x4" %}</div>
    <div class="entry__image-container entry__image-container--tiny">{% include image.html name=include.right-name caption=include.right-caption alt=include.right-alt image-layout="25x4" %}</div>
</div>
