<div class="image-group">
    <div class="entry__image-container entry__image-container--small">{% include image.html name=include.left-name caption=include.left-caption alt=include.left-alt image-layout="33x3" %}</div>
    <div class="entry__image-container entry__image-container--small">{% include image.html name=include.center-name caption=include.center-caption alt=include.center-alt image-layout="33x3" %}</div>
    <div class="entry__image-container entry__image-container--small">{% include image.html name=include.right-name caption=include.right-caption alt=include.right-alt image-layout="33x3" %}</div>
</div>
