$color__white: #ffffff;
$color__gray-lightest: #F2F2F2;
$color__gray-light: #E0E0E0;
$color__gray: #4a4a4a;

$color__background-body: $color__white;
$color__background-header: $color__gray-lightest;
$color__background-main-nav--hover: $color__gray-light;
$color__link-main-nav: $color__gray;
